button {
    font-size: 20px;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.green-button {
    background-color: greenyellow;
}

.round-coners-button {
    border-radius: 5px;
}

.green-button:hover {
    background-color: green;
}

.round-coners-button:hover {
    background-color: darkgray;

}

.hover-button:hover {
    background-color: aqua;
}

.green-button,
.round-coners-button,
.hover-button {
    border: solid black 1px;
}