.black-table{
    border-collapse: collapse;
    margin-right: 5px;
}
.black-table-text{
    border: solid black 2px;
    padding: 3px;
}
.blue-table{
    border: solid blue 2px;
}
.blue-table-text{
    border: solid blue 2px;
    padding: 3px;
}